* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
  
h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}
  
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
  
.container {
  position: relative;
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}
  
.header {
  position: fixed;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 1;
  background: white;
  &__container {
      display: flex;
      justify-content: space-between;
      max-width: 1280px;
      padding: 0 40px;
      margin: 0 auto;
  }
  &__logo {
      z-index: 1;
  }
  &__title {
      color: #545454;
      font-family: Georgia, serif;
      font-weight: normal;
      line-height: 37.5px;
      font-size: 32px;
      letter-spacing: 0.06em;
  }
  &__subtitle {
      font-family: Arial, sans-serif;
      font-weight: normal;
      font-size: 13px;
      letter-spacing: 0.1em;
      color: #292929;
      text-align: center;
      margin-top: 9px;
      margin-left: 2px;
  }
}

.navbar {
  z-index: 1;
  width: 442px;
  padding-top: 16px;
  margin-left: auto;
}

.burger {
  display: none;
  width: 50px;
  cursor: pointer;
  transition: 0.8s;
  z-index: 2;
  position: absolute;
  right: 48px;
  top: 43px;
  width: 30px;
  height: 24px;
}

.burger span {
  cursor: pointer;
  width: 30px;
  height: 0px;
  border: 1px solid #F1CDB3;
  display: block;
  margin-bottom: 8px;
  transition: 0.8s;
}

.burger__active {
  display: block;
  cursor: pointer;
  transition: 2s transform;
  transform: translateX(2px) rotate(-90deg);
}

.burger-logo {
  display: none;
  &__title {
      color:#545454;
      font-family: Georgia, serif;
      font-weight: normal;
      line-height: 37.5px;
      font-size: 32px;
      letter-spacing: 0.06em;
  }
  &__subtitle {
      font-family: Arial, sans-serif;
      font-weight: normal;
      font-size: 13px;
      letter-spacing: 0.1em;
      color: #545454;
      text-align: left;
      margin-top: 9px;
      margin-left: 2px;
  }
  
}

.main-menu {
  display: flex;
  justify-content: space-between;
  &__link {
      text-decoration: none;
      font-family: Arial, sans-serif;
      font-weight: normal;
      font-size: 15px;
      line-height: 160%;
      color: #545454;
      &:hover {
          color: #292929;
          transition: 0.5s;
      }
      &_active:hover {
        color: red;
      }
      &_nonActive:hover {
        cursor: default;
        color:  #545454;
      }
  }
  &__item {
    position: relative;
    &:nth-child(2) {
        &::before {
            position: absolute;
            bottom: -3px;
            content: '';
            left: 0;
            width: 100%;
            height: 3px;
            background: #F1CDB3;
        }
    }
    &::before {
        position: absolute;
        content: "";
        height: 3px;
        width: 0;
        background-color: #F1CDB3;
        transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
        left: 50%;
        bottom: -3px;
    }
    &:hover::before {
        width: 100%;
        left: 0;
    }
    &:nth-child(3):before {
      content: "";
      height: 0;
    }
    &:nth-child(4):before {
      content: "";
      height: 0;
    }
  }
}

.overlay-popUp {
  display: none;
  width: 100%;
  position: fixed;
  height: 100%;
  top: 0;
  z-index: 3;
  background: rgba(41, 41, 41, 0.6);
}

.overlay {
  transform: translateX(-29%);
  display: none;
  width: 100%;
  position: fixed;
  height: 100%;
  top: 0;
  z-index: 3;
  background: rgba(41, 41, 41, 0.6);
}

.hamburger_active {
  transform: rotate(-90deg);
}

.our-friends {
  padding: 201px 0 100px 0;
  background: #F6F6F6;
  &__title {
    width: 40%;
    height: 90px;
    margin: 0 auto;
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
  }
  &__list {
    list-style: none;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
      position: relative;
      transition: 1s;
      padding: 0px 0px 30px 0px;
      margin-bottom: 30px;
      border-radius: 9px;
      text-align: center;
      width: 270px;
      background: #FAFAFA;
      &:hover {
          cursor: pointer;
          transition: 0.5s;
          background-color: #ffffff;
          box-shadow: 0px 3px 32px 0px rgba(0,0,0,0.75);
      }
  }
  &__name {
      margin-top: 26px;
      margin-left: 4px;
      font-family: Georgia, serif;
      font-weight: normal;
      font-size: 20px;
      text-align: center;
      letter-spacing: 0.06em;
      color: #545454;
  }
  &__link {
      padding-top: 15px;
      border: 2px solid #F1CDB3;
      border-radius: 100px;
      font-family: Georgia, serif;
      font-weight: normal;
      font-size: 17px;
      letter-spacing: 0.06em;
      color: #292929;
      display: block;
      width: 187px;
      height: 52px;
      margin: 0 auto;
      margin-top: 30px;
      margin-left: 42px;
      &:hover {
          cursor: pointer;
          transition: 0.5s;
          background-color: #FDDCC4;
      }
  }
  &__controls {
    width: 340px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 30px;
  }
  &__left-two {
    outline: none;
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #CDCDCD;
    width: 52px;
    height: 52px;
    border: 2px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 100px;
    padding-bottom: 2px;
  }
  &__left-one {
    outline: none;
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #CDCDCD;
    width: 52px;
    height: 52px;
    border: 2px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 100px;
    padding-bottom: 2px;
  }
  &__current {
    outline: none;
    border: none;
    width: 52px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #292929;
    padding-bottom: 2px;
    &:hover {
      cursor: pointer;
      background-color: wheat;
    }
  }
  &__right-two {
    outline: none;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #292929;
    padding-bottom: 2px;
  }
  &__right-one {
    outline: none;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #292929;
    padding-bottom: 2px;
  }
}

.overlayItem {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
  z-index: -1;
  opacity: 0;
  position: absolute;
  border-radius: 9px;
  border: 2px solid gray;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: white;
}

.active-button:hover {
  cursor: pointer;
  background: #F1CDB3;
  transition: 0.5s;
}

.button-nonActive {
  color: #CDCDCD;
  border: 2px solid #CDCDCD;
}

.button-active {
  outline: none;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 100px;
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #292929;
    padding-bottom: 2px;
}

.button-active:hover {
  cursor: pointer;
  background: #F1CDB3;
  transition: 0.5s;
}

.button-nonActive:hover {
  background-color: transparent;
}

.pet {
  position: fixed;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  display: none;
  align-items: center;
  background: #FAFAFA;
  border-radius: 9px;
  width: 900px;
  height: 500px;
  &__title {
      font-family: Georgia, serif;
      font-style: normal;
      font-weight: normal;
      font-size: 35px;
      line-height: 130%;
      letter-spacing: 0.06em;
      color: #000000;
  }
  &__subtitle {
      font-family: Georgia, serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 115%;
      letter-spacing: 0.06em;
      margin-top: 9px;
  }
  &__descr {
      margin-top: 40px;
      font-family: Georgia, serif;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 118%;
      letter-spacing: 0.06em;
      color: #000000;
  }
  &__content {
      align-self: start;
      width: 352px;
      height: 362px;
      margin-top: 52px;
      margin-left: 33px;
  }
  &__picture {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 500px;
      width: 500px;
  }
  &__img {
      transform: scale(1.8);
  }
  &__close {
      transition: 0.5s;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 52px;
      height: 52px;
      position: absolute;
      top: -52px;
      right: -45px;
      border: 2px solid #F1CDB3;
      border-radius: 100px;
      svg {
          width: 12px;
          height: 12px;
      }
      &:hover {
          transition: 1s;
          background: red;
      }
  }
}

.pet-desr {
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
  margin-top: 41px;
  padding-left: 14px;
  span {
      font-weight: normal;
  }
  li {
      position: relative;
      margin-top: 12px;
      &:before {
          position: absolute;
          width: 4px;
          height: 4px;
          left: -15px;
          top: 43%;
          border-radius: 50%;
          content: '';
          background: #F1CDB3;
      }
  }
}

.footer {
  padding-top: 38px;
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  &__flex {
      display: flex;
      justify-content: space-between;
      // align-items: center;
  }
  &__contacts {
      max-width: 100%;
      margin-top: 19px;
  }
  &__location {
      max-width: 100%;
      margin-top: 19px;
      margin-left: 2px;
  }
  &__title {
      font-family: Georgia, serif;
      font-weight: normal;
      font-size: 35px;
      line-height: 130%;
      letter-spacing: 0.06em;
      color: #FFFFFF;
  }
  &__email {
      position: relative;
      margin-top: 44px;
      padding: 0px 0px 0px 60px;
      display: block;
      font-family: Georgia, serif;
      font-weight: normal;
      font-size: 20px;
      line-height: 115%;
      letter-spacing: 0.06em;
      color: #F1CDB3;
      &:hover {
          color: white;
          transition: 0.3s;
      }
  }
  &__phone {
      position: relative;
      margin-top: 49px;
      padding: 0px 0px 0px 60px;
      display: block;
      font-family: Georgia, serif;
      font-weight: normal;
      font-size: 20px;
      line-height: 115%;
      letter-spacing: 0.06em;
      color: #F1CDB3;
      &:hover {
          color: white;
          transition: 0.3s;
      }
  }
  &__address {
      position: relative;
      margin-top: 33px;
      padding-left: 42px;
      display: block;
      font-family: Georgia, serif;
      font-weight: normal;
      font-size: 20px;
      line-height: 115%;
      letter-spacing: 0.06em;
      color: #F1CDB3;
      &:nth-child(3) {
          margin-top: 37px;
      }
  }
}

.address-one {
  position: relative;
  &__icon {
      position: absolute;
      left: -1px;
      bottom: 8px;
  }
}

.address-two {
  &__icon {
      position: absolute;
      left: -1px;
      bottom: -4px;
  }
}

.email {
  &__icon {
      position: absolute;
      left: 0;
      bottom: -1px;
  }
}

.phone {
  &__icon {
      position: absolute;
      left: 0;
      bottom: -4px;
  }
}

@media (max-width: 1279px) {
  .pet {
    padding-right: 4px;
    width: 630px;
    height: 350px;
    &__picture {
        width: 376px;
        height: 350px;
    }
    &__img {
        transform: scale(1.2);
    }
    &__content {
        margin-left: 0px;
        margin-top: 12px;
    }
    &__descr {
        font-size: 13px;
        margin-top: 27px;
        line-height: 118%;
        li {
            margin-top: 7px;
        }
    }
}
.pet-desr {
    margin-top: 15px;
    li {
        margin-top: 7px;
    }
}
  .header {
      &__container {
          max-width: 768px;
          padding: 0px 30px 0px 30px;
      }
      padding-top: 30px;
  }
  .container {
      max-width: 768px;
      padding: 0px 30px 0px 30px;
  }
  .footer {
    padding-top: 12px;
    &__flex {
      width: 686px;
      margin: 0 auto;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    &__contacts {
        width: 302px;
    }
    &__location {
        width: 302px;
        margin-top: 19px;
        margin-left: -9px;
    }
    &__img {
      width: 300px;
      height: 314px;
        margin-top: 66px;
    }
  }
  .our-friends {
    padding-bottom: 76px;
    &__title {
      margin: 1px auto;
      width: 63%;
      margin-left: 132px;
    }
    &__list {
      width: 580px;
      margin: 0 auto;
      margin-top: 29px;
    }
    &__item {
      &:nth-child(7) {
        display: none;
      }
      &:nth-child(8) {
        display: none;
      }
    }
    &__controls {
      margin-top: 10px;
    }
  }
}

@media (max-width: 767px) {
  .pet {
    padding: 10px;
    width: 240px;
    height: 341px;
    text-align: center;
    &__subtitle {
        margin-top: 0;
    }
    &__descr {
        margin-top: 8px;
        text-align: justify;
    }
    &__picture {
        display: none;
    }
    &__content {
        margin-top: 2px;
    }
}

.pet-desr {
    text-align: left;
    li {
        margin-top: 1px;
    }
}
  .burger-logo {
    display: block;
  }
  .header {
    &__container {
        position: relative;
        max-width: 320px;
        padding: 0px 10px 0px 10px;
    }
    padding-top: 30px;
  }
  .container {
      max-width: 320px;
      padding: 0px 10px 0px 10px;
  }
  .navbar {
      position: fixed;
      top: 0;
      right: -150%;
      width: 320px;
      height: 100vh;
      padding: 20px 15px;
      background-color: white;
      transition: 0.6s;
      z-index: 5;
  }
  .navbar__active {
      right: 0;
  }

  .main-menu {
    margin-top: 104px;
      flex-direction: column;
      &__item {
          font-size: 34px;
          margin-top: 44px;
          text-align: center;
      }
      &__link {
        color: #545454;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 160%;
      }
  }
  .hamburger {
      transition: 1s;
      cursor: pointer;
      z-index: 2;
      display: block;
      position: absolute;
      right: 53px;
      top: 32%;
      width: 31px;
      height: 24px;
  }
  .hamburger span {
      width: 30px;
      height: 0px;
      border: 1px solid #000000;
      display: block;
      margin-bottom: 8px;
      transition: 0.6s all;
  }
  .our-friends {
    padding-top: 148px;
    padding-bottom: 42px;
    &__title {
      font-size: 25px;
      width: 100%;
      display: block;
      margin: 0px auto;
    }
    &__list {
      width: 300px;
      margin-top: 16px;
    }
    &__item {
      margin: 0 auto;
      margin-bottom: 30px;
      &:nth-child(n+4) {
        display: none;
      }
    }
    &__name {
      margin-left: 1px;
    }
    &__controls {
      width: 300px;
      margin-top: 12px;
    }
  }
  .footer {
    &__flex {
        width: 100%;
        flex-direction: column;
    }
    &__contacts {
        margin: 0 auto;
        width: 302px;
        margin-top: 19px;
    }
    &__title {
        text-align: center;
    }
    &__location {
        width: 300px;
        margin-top: 45px;
        margin-left: 1px;
    }
    &__img {
        width: 260px;
        height: 269px;
        display: block;
        margin: 0px auto;
        margin-top: 95px;
    }
    &__email {
      margin-left: 10px;
    }
    &__phone {
      margin-left: 10px;
    }
    &__location {
      margin-left: 0px;
    }
    &__address {
      margin-top: 32px;
      padding-left: 41px;
    }
    &__img {
      margin-top: 97px;
    }
  }
}
